@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap');
*{
  padding: 0;
  margin: 0;
  font-family: 'Space Grotesk', sans-serif;
}
@media(min-width: 600px){
  body{
    padding: 0 30%;
  }
}
nav{
  display: flex;
  align-items: center;
  color: darkorange;
  padding: 12px 10px;
  box-shadow: 1px 5px 6px rgba(0, 0, 0, 0.3)
}
nav img{
  width: 50px;
  padding-right: 10px;
}
.inputSection{
  padding: 15px 10px;
  margin-top: 20px;
}
.input{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}
.input input{
  width: 48%;
  padding: 15px 10px;
  border-radius: 10px;
  border: none;
  background-color: #D1D1D1;
  font-size: 16px;
  outline: none;
  transition: 0.5s ease;
}
.inputSection button{
  width: 100%;
  padding: 14px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: darkorange;
  margin-top: 10px;
}
.inputSection input:focus{
  border: 2px solid darkorange;
  background-color: #fff;
}
.meme-display{
  padding: 20px;
}
.meme-display img{
  width: 100%
}